
body {
  background: #4ce07e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
}

.main {
  width: 954px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 90%;

    .rail {
      fill: #FFFFFF;
    }

    .border {
      fill: #4CE07E;
    }

    .stop {
      fill:#353535;
    }

    .red {
      fill:#D84444;
    }

    .yellow {
      fill:#F2DA2F;
    }

    .purple {
      fill:#BA41D8;
    }

    .blue {
      fill:#2F4ACC;
    }

  }
}

.pointer {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #eee;
}
